<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #empleadoForm="ngForm" (ngSubmit)="addEmployee(empleadoForm)">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="hidden" name="_id" #_id="ngModel"
                                    [(ngModel)]="empleadoService.empleadoSeleccionado._id" placeholder
                                    placeholder="ID de empleado">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="nombre" #nombre="ngModel"
                                    [(ngModel)]="empleadoService.empleadoSeleccionado.nombre"
                                    placeholder="Introduzca su nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="cargo" #cargo="ngModel"
                                    [(ngModel)]="empleadoService.empleadoSeleccionado.cargo"
                                    placeholder="Introduzca su cargo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="departamento" #departamento="ngModel"
                                    [(ngModel)]="empleadoService.empleadoSeleccionado.departamento"
                                    placeholder="Introduzca su departamento">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="salario" #salario="ngModel"
                                    [(ngModel)]="empleadoService.empleadoSeleccionado.salario"
                                    placeholder="Introduzca su salario">
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="input field col s12">
                                <button type="reset" class="btn right">RESET</button>
                                <button type="submit" class="btn right" ngSubmit>ENVIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>NOMBRE</th>
                    <th>CARGO</th>
                    <th>DEPARTAMENTO</th>
                    <th>SALARIO</th>
                    <th>ACCIONES</th>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleadoService.empleados">
                        <td>{{empleado.nombre}}</td>
                        <td>{{empleado.cargo}}</td>
                        <td>{{empleado.departamento}}</td>
                        <td>{{empleado.salario}}</td>
                        <td>
                            <a (click)="editarEmpleado(empleado)">
                                <i class="material-icons">edit</i>
                            </a>

                        </td>
                        <td><a (click)="eliminarEmpleado(empleado._id)">
                                <i class="material-icons">delete</i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>